$primary-color: hsl(31, 77%, 52%);
$secondary-color: hsl(184, 100%, 22%);
$backup-color: hsl(179, 100%, 13%);
$light-color: hsla(0, 0%, 100%, 0.75);
$medium-color: hsl(0, 0%, 95%);
$primary-font: 'Lexend Deca', sans-serif;
$secondary-font: 'Big Shoulders Display', cursive;